/* ANIMATIONS */
/* Open box animation */
[data-message-box="true"],
[data-message-box="true"] .chat-header,
[data-message-box="true"] .chat-main,
[data-message-box="true"] .chat-footer
{
    animation: openBox .6s linear forwards;
}
@keyframes openBox{
    0%{
        opacity: 0;
        transform: rotateX(90deg) translateY(100%);
    }
    100%{
        opacity: 1;
        transform: rotateX(0) translateY(0);
    }
}
/* Close box animation */
[data-message-box="false"],
[data-message-box="false"] .chat-header,
[data-message-box="false"] .chat-main,
[data-message-box="false"] .chat-footer
{
    animation: openBoxReverse .6s linear forwards;
}
@keyframes openBoxReverse{
    0%{
        opacity: 1;
        transform: rotateX(0) translateY(0);
    }
    100%{
        opacity: 0;
        transform: rotateX(90deg) translateY(100%);
    }
}
/* More actions active */
[data-more-actions="true"]{
    display: flex !important;
    animation: moreActions .5s linear forwards;
}
[data-more-actions="true"] button:first-child{
    animation: moreActionsTransFirst .5s linear forwards;
}
[data-more-actions="true"] button:last-child{
    animation: moreActionsTransLast .5s linear forwards;
}
@keyframes moreActions{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(-60px);
    }
}
@keyframes moreActionsTransFirst{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes moreActionsTransLast{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* More actions inactive */
[data-more-actions="false"]{
    display: flex !important;
    animation: moreActionsReverse .5s linear  forwards;
}
[data-more-actions="false"] button:first-child{
    animation: moreActionsTransFirstReverse .5s linear  forwards;
}
[data-more-actions="false"] button:last-child{
    animation: moreActionsTransLastReverse .5s linear  forwards;
}
@keyframes moreActionsReverse{
    0%{
        opacity: 1;
        transform: translateY(-60px);
    }
    100%{
        opacity: 0;
        transform: translateY(0);
    }
}
@keyframes moreActionsTransFirstReverse{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes moreActionsTransLastReverse{
    0%{
        transform: translateX(-0);
    }
    100%{
        transform: translateX(-100%);
    }
}
