*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --color-main: #25D366;
}
/* Chat buttons */
.chat-buttons{
    position: fixed;
    right: 0;
    bottom: 0;
}
.chat-buttons button{
    margin: 1rem;
}
/* Chat container */
.chat-container{
    position: fixed;
    right: 0;
    bottom: 0;
    border: 1px solid var(--color-main);
    width: 100%;
    max-width: 400px;
    height: 550px;
    margin: 1rem;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
/* Chat button open box */
.chat-open-box{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: var(--color-main);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Chat header */
.chat-header,
.chat-footer{
    padding: .5rem;
    background: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.chat-user{
    display: flex;
    align-items: center;
}
.chat-user-photo-setting{
    background: #ffffff;
    padding: .5rem;
    border-radius: 100%;
    color: #545454;
}
.chat-user-photo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid #ffffff;
    border-radius: 100%;
}
.chat-user-name{
    color: #ffffff;
    font-weight: 800;
    margin-left: .5rem;
}
.chat-actions{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;
}
/* Chat main */
.chat-main{
    background-color: #ffffff;
    background-image: url(../images/whatsapp_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 430px;

}
.chat-messages{
    width: 100%;
    height: 100%;
    background: #ffffff9d;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding: .5rem;
}
.chat-messages::-webkit-scrollbar {
    width: 6px;
}
.chat-messages::-webkit-scrollbar-thumb,
.chat-messages::-webkit-scrollbar-track {
    background-color: transparent;
}
.chat-messages .message{
    padding: .5rem;
    display: flex;
}
.chat-messages .message span{
    position: relative;
    background: #959494;
    font-weight: 600;
    color: #ffffff;
    font-size: .9rem;
    padding: .5rem;
    border-radius: 5px;
}
.chat-messages .message span::before {
    content: '';
    position: absolute;
    top: 0;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #959494 transparent transparent transparent;
}
.chat-messages .message-system{
    justify-content: start;
}
.chat-messages .message-system span::before{
    left: 0;
}
.chat-messages .message-user{
    justify-content: end;
}
.chat-messages .message-user span::before{
    right: -10px;
}
/* Chat footer */
.chat-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.chat-form .chat-form-input{
    position: relative;
    width: 88%;
}
.chat-form .chat-form-input input{
    padding: .5rem;
    border-radius: 50px;
    width: 100%;
}
.chat-form .chat-form-input input:focus{
    outline: none;
}
.chat-form .chat-form-attach{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    color: var(--color-main);
    background: #ffffff;
    border-radius: 100%;
}
.chat-form .chat-form-submit{
    background: #ffffff;
    color: var(--color-main);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-form .chat-form-attach-more{
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    border-radius: 5px;
    display: none;
    align-items: center;
    gap: 4px;
}
.chat-form .chat-form-attach-more button{
    background: var(--color-main);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
/* .chat-form .chat-form-attach-more button:first-child{
    transform: translateX(100%);
}
.chat-form .chat-form-attach-more button:last-child{
    transform: translateX(-100%);
} */
/* ANIMATIONS */
/* Open box animation */
[data-message-box="true"]{
    display: flex !important;
}
[data-message-box="true"],
[data-message-box="true"] .chat-header,
[data-message-box="true"] .chat-main,
[data-message-box="true"] .chat-footer
{
    animation: openBox .6s linear forwards;
}
@keyframes openBox{
    0%{
        opacity: 0;
        transform: rotateX(90deg) translateY(100%);
    }
    100%{
        opacity: 1;
        transform: rotateX(0) translateY(0);
    }
}
/* Close box animation */
[data-message-box="false"]{
    display: flex !important;
}
[data-message-box="false"],
[data-message-box="false"] .chat-header,
[data-message-box="false"] .chat-main,
[data-message-box="false"] .chat-footer
{
    animation: openBoxReverse .6s linear forwards;
}
@keyframes openBoxReverse{
    0%{
        opacity: 1;
        transform: rotateX(0) translateY(0);
    }
    100%{
        opacity: 0;
        transform: rotateX(90deg) translateY(100%);
    }
}
/* More actions active */
[data-more-actions="true"]{
    display: flex !important;
    animation: moreActions .5s linear forwards;
}
[data-more-actions="true"] button:first-child{
    animation: moreActionsTransFirst .5s linear forwards;
}
[data-more-actions="true"] button:last-child{
    animation: moreActionsTransLast .5s linear forwards;
}
@keyframes moreActions{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(-60px);
    }
}
@keyframes moreActionsTransFirst{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes moreActionsTransLast{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* More actions inactive */
[data-more-actions="false"]{
    display: flex !important;
    animation: moreActionsReverse .5s linear  forwards;
}
[data-more-actions="false"] button:first-child{
    animation: moreActionsTransFirstReverse .5s linear  forwards;
}
[data-more-actions="false"] button:last-child{
    animation: moreActionsTransLastReverse .5s linear  forwards;
}
@keyframes moreActionsReverse{
    0%{
        opacity: 1;
        transform: translateY(-60px);
    }
    100%{
        opacity: 0;
        transform: translateY(0);
    }
}
@keyframes moreActionsTransFirstReverse{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes moreActionsTransLastReverse{
    0%{
        transform: translateX(-0);
    }
    100%{
        transform: translateX(-100%);
    }
}
