*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --color-main: #25D366;
    --border-radius: 5px;
}
.chat-overflow-hidden{
    overflow: hidden !important;
}
/* Chat alerts */
.chat-alert{
    padding: .8rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    margin: .5rem .5rem 0;
    position: relative;
    top: 0;
    left: 0;
}
.chat-alert p{
    margin-left: .4rem;
}
.chat-alert-danger{
    color: #ff0000;
    border: 1px solid #ff0000;
    background: #ffefef;
}
.chat-alert-info{
    color: #008cff;
    border: 1px solid #008cff;
    background: #f3f9ff;
}
.chat-alert-warning{
    color: #fff000;
    border: 1px solid #fff000;
    background: #fffef2;
}
.chat-alert-success{
    color: #80ff00;
    border: 1px solid #80ff00;
    background: #f7ffef;
}
/* Chat buttons */
.chat-buttons{
    position: fixed;
    right: 0;
    bottom: 0;
}
.chat-buttons button{
    margin: 1rem;
}
/* Chat container */
.chat-container{
    position: fixed;
    right: 0;
    bottom: 0;
    border: 1px solid var(--color-main);
    width: 100%;
    max-width: 400px;
    height: 550px;
    margin: 1rem;
    border-radius: var(--border-radius);
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
/* Chat button open box */
.chat-open-box{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: var(--color-main);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Chat header */
.chat-header,
.chat-footer{
    padding: .5rem;
    background: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.chat-user{
    display: flex;
    align-items: center;
}
.chat-user-photo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid #ffffff;
    border-radius: 100%;
}
.chat-user-name{
    color: #ffffff;
    font-weight: 800;
    margin-left: .5rem;
}
.chat-actions{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;
}
.chat-actions button:not(:last-child){
    padding: .2rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-main);
}
.chat-actions button[data-chat-button="active"]{
    border: 2px solid #ffffff; 
}
/* Chat main */
.chat-main{
    background-color: #ffffff;
    background-image: url(../images/whatsapp_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 430px;
}
.chat-messages{
    width: 100%;
    height: 100%;
    background: #ffffff9d;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    position: relative;
}
.chat-messages-content{
    padding: .5rem;
}
.chat-messages::-webkit-scrollbar {
    width: 0px;
}
.chat-messages::-webkit-scrollbar-thumb,
.chat-messages::-webkit-scrollbar-track {
    background-color: transparent;
}
/* Chat message has migration */
.chat-form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000b9;
    padding: 1rem;
}
.chat-form-content{
    height: 100%;
    margin-top: .5rem;
    display: flex;
    align-items: start;
    justify-content: center;
}
.chat-form-content form{
    padding: 1rem;
    background: #ffffff;
    border-radius: var(--border-radius);
    width: 400px;
}
.chat-form-inputs-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chat-form-inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
    width: 48%;
}
.chat-form-inputs label{
    color: #545454;
    font-size: .8rem;
}
.chat-form-inputs input{
    border: 1px solid var(--color-main);
    color: var(--color-main);
    padding: .2rem;
    border-radius: var(--border-radius);
}
.chat-form-content button{
    background: var(--color-main);
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
    font-weight: 700;
    color: #ffffff;
    border: 1px solid var(--color-main);
    transition: all .4s;
}
.chat-form-content button:hover{
    background: #ffffff;
    color: var(--color-main);
}
.chat-form h2{
    text-align: center;
    color: var(--color-main);
    font-weight: bolder;
}
.chat-form-inputs-button{
    width: 100%;
    display: flex;
    justify-content: end;
}
/* Chat message menu form */
.chat-form-menu{
    padding: .5rem;
    background: #ffffff;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
}
.chat-form-menu button{
    width: 48%;
    border-radius: var(--border-radius);
    background: var(--color-main);
    padding: .5rem 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-main);
    transition: all .4s;
}
.chat-form-menu button:hover{
    background: #ffffff;
    color: var(--color-main);
}
.chat-form-menu button span{
    margin-left: .5rem;
}
/* Chat message list */
.chat-messages .message{
    padding: 0 .8rem;
    display: flex;
    margin: .5rem 0;
}
.chat-messages .message .message-content{
    position: relative;
    font-weight: 600;
    font-size: .9rem;
    padding: .5rem;
    border-radius: var(--border-radius);
}
.chat-messages .message .message-content::before {
    content: '';
    position: absolute;
    top: 0;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
}
.chat-messages .message-to{
    justify-content: start;
}
.chat-messages .message-content{
    min-width: 80px;
    max-width: 60%;
    font-size: .9rem;
}
.chat-messages .message-to .message-content{
    background: #959494;
    color: #ffffff;
}
.chat-messages .message-to .message-content::before{
    left: 0;
    border-color: #959494 transparent transparent transparent;
}
.chat-messages .message-from{
    justify-content: end;
}
.chat-messages .message-from .message-content{
    background: var(--color-main);
    color: #ffffff;
}
.chat-messages .message-from .message-content::before{
    right: -10px;
    border-color: var(--color-main) transparent transparent transparent;
}
.chat-messages .message-content .message-statustime{
    display: flex;
    justify-content: end;
}
.chat-messages .message-content .message-statustime span{
    font-size: .7rem;
}
.chat-messages .message-content .message-statustime svg{
    color: #008cff;
    margin-left: .2rem;
}
.chat-message-previous{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: start;
    width: 100%;
    padding: .2rem;
    background: #ffffff;
    color: var(--color-main);
    border-bottom: 1px solid var(--color-main);
    margin-top: -1rem;
}
/* Chat footer */
/* Chat form footer */
.chat-form-send{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.chat-form-send .chat-form-send-input{
    position: relative;
    width: 88%;
}
.chat-form-send .chat-form-send-input input{
    padding: .5rem;
    border-radius: 50px;
    width: 100%;
}
.chat-form-send .chat-form-send-input input:focus{
    outline: none;
}
.chat-form-send .chat-form-send-attach{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    color: var(--color-main);
    background: #ffffff;
    border-radius: 100%;
}
.chat-form-send .chat-form-send-submit{
    background: #ffffff;
    color: var(--color-main);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(45deg);
}
.chat-form-send .chat-form-send-attach-more{
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    border-radius: var(--border-radius);
    display: none;
    align-items: center;
    gap: 4px;
}
.chat-form-send .chat-form-send-attach-more button{
    background: var(--color-main);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
/* Chat list leads */
.chat-leads{
    width: 100%;
    background: #545454;
    padding: .8rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: .5rem;
    transition: all .4s;
}
.chat-leads:hover{
    background: #787878;
}
.chat-leads-user-avatar{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #ffffff;
    color: #545454;
    margin-right: .5rem;
}
.chat-leads-user-avatar img{
    border-radius: 100%;
}
.chat-leads-loadmore{
    display: flex;
    justify-content: center;
}
.chat-leads-loadmore button{
    background: var(--color-main);
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-main);
    color: #ffffff;
    font-weight: 700;
    transition: all .4s;
}
.chat-leads-loadmore button:hover{
    background: #ffffff;
    color: var(--color-main);
}
[data-message-box="true"]{
    display: flex !important;
}
[data-message-box="true"],
[data-message-box="true"] .chat-header,
[data-message-box="true"] .chat-main,
[data-message-box="true"] .chat-footer
{
    animation: openBox .6s linear forwards;
}
@keyframes openBox{
    0%{
        opacity: 0;
        transform: rotateX(90deg) translateY(100%);
    }
    100%{
        opacity: 1;
        transform: rotateX(0) translateY(0);
    }
}
/* Close box animation */
[data-message-box="false"]{
    display: flex !important;
}
[data-message-box="false"],
[data-message-box="false"] .chat-header,
[data-message-box="false"] .chat-main,
[data-message-box="false"] .chat-footer
{
    animation: openBoxReverse .6s linear forwards;
}
@keyframes openBoxReverse{
    0%{
        opacity: 1;
        transform: rotateX(0) translateY(0);
    }
    100%{
        opacity: 0;
        transform: rotateX(90deg) translateY(100%);
    }
}
/* More actions active */
[data-more-actions="true"]{
    display: flex !important;
    animation: moreActions .5s linear forwards;
}
[data-more-actions="true"] button:first-child{
    animation: moreActionsTransFirst .5s linear forwards;
}
[data-more-actions="true"] button:last-child{
    animation: moreActionsTransLast .5s linear forwards;
}
@keyframes moreActions{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(-60px);
    }
}
@keyframes moreActionsTransFirst{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes moreActionsTransLast{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* More actions inactive */
[data-more-actions="false"]{
    display: flex !important;
    animation: moreActionsReverse .5s linear  forwards;
}
[data-more-actions="false"] button:first-child{
    animation: moreActionsTransFirstReverse .5s linear  forwards;
}
[data-more-actions="false"] button:last-child{
    animation: moreActionsTransLastReverse .5s linear  forwards;
}
@keyframes moreActionsReverse{
    0%{
        opacity: 1;
        transform: translateY(-60px);
    }
    100%{
        opacity: 0;
        transform: translateY(0);
    }
}
@keyframes moreActionsTransFirstReverse{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes moreActionsTransLastReverse{
    0%{
        transform: translateX(-0);
    }
    100%{
        transform: translateX(-100%);
    }
}
